@import "src/styles/vars/colors/colors";
@import "src/styles/mixins/typography/_headlines.scss";

.home {
  .home__title {
    @include headline-4;
    color: $white;
  }
  .home__button {
    background-color: $primary;
    color: $white;
    margin-top: 2.5rem;
  }
  .banner-top {
    .banner-top__paragraph {
      @include headline-6;
      color: $white;
    }
  }
  .banner-bottom {
    height: 50vh;
  }
}

@media (min-width: 992px) {
  .home {
    .home__title {
      @include headline-1;
    }
    .banner-top {
      height: 80vh;
      .banner-top__paragraph {
        @include headline-6;
      }
    }
  }
}