.card {
  width: 33.33333%;
  height: 75vh;
  outline-offset: -8px;
  position: relative;
  overflow: hidden;
  .card-image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.7s;
    &:hover {
      transform: scale(1.15);
    }
  }
  .card-title {
    position: relative;
    font-size: 20px;
    text-align: center;
  }
}